<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      Votre adresse : <%= @user.email %>
    <br>
    <h1>Salut <%= @user.first_name %> et bienvenue chez nous !</h1>
    <p>
      Tu as décidé de participer à un évènement.
    </p>
    <p>
    </p>
    <p>À très vite en lieu et place de cet évènement !
  </body>
</html>