
.btn-orange {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.btn-orange:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.btn-orange:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #e4e1e1;
}
.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.form-container .form-group {
  margin-bottom: 20px;
}
.form-container label {
  font-weight: bold;
}
.form-container .btn {
  display: block;
  width: 100%;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.back-bg {   
  background-image: linear-gradient(to left top, rgba(0, 255, 255, 1) 0%, rgba(255, 0, 255, 0.5) 50% , rgba(255, 255, 0, 1) 100%), 
                    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

.row-align{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}