@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

.btn-orange {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.btn-orange:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.btn-orange:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #e4e1e1;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.form-container .form-group {
  margin-bottom: 20px;
}
.form-container label {
  font-weight: bold;
}
.form-container .btn {
  display: block;
  width: 100%;
}

html, body{
  margin:0px;
  padding:0px;
}

.row-align{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}


.btn-primary {
  color: #fff;
  background-color: #f36c21;
  border-color: #f36c21;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #da610f;
  border-color: #da610f;
}

.padding-link{
  margin-left:15%;
  margin-right:15%;
  display:flex;
  align-content: center;
  justify-content: space-between;
}

a.admin-link {
  text-decoration: none;
  color:rgb(97, 97, 97);
}

a.admin-link:hover {
  color:rgb(172, 170, 170);
}

.text-dark-grey{
  color :rgb(73, 73, 73)
}

.stay-inline{
  display: inline-block !important;
}

.button_to{
  display:inline;
}

.custom-link{
  text-decoration: none;
  color : rgb(82, 82, 82);
  transition: .3s;
}

h1{
  color:rgb(83, 83, 83);
  font-family:Arial, Helvetica, sans-serif;
  user-select: none;
}

.custom-link:hover{
  color : rgb(141, 139, 139);
  font-size: 18px;
  transition: 0.3s;
}

a{
  user-select: none;
}

.navbar-header{
  top:0 !important;
  padding:0;
  width: 100%;
}

.form-floating{
  margin-left:30%!important;
  margin-right:30%!important;
}

.footer{
  text-align: center;
  bottom: 0;
  width: 100%;
  padding-bottom: 15px;
}

.footer-link{
  text-decoration: none;
  color : rgb(201, 201, 201);
  transition: .3s;
  margin-left:12px;
  margin-right:12px;
}

.footer-link:hover{
  color : rgb(255, 255, 255);
  transition: .3s;
  font-size: 18px;
}

.form-container{
  margin-left:30%!important;
  margin-right:30%!important;
}

.form-control{
  margin-bottom: 10px;
}

.form-control:hover{
  background-color:rgba(255, 255, 255, 0.082);
}

legend{
  text-align: center;
  font-size: 38;
  margin-bottom: 20px;
  user-select: none;
}

.icon{
  position: absolute;
  left: 5;
  margin-left: 2;
  top: 38%;
}

.center{
  margin-left:23%;
}

.img-fluid{
  user-select: none;
  width: 100%;
  height: 50%;
  border-top: 3px solid rgb(26, 26, 26);
  border-bottom: 3px solid rgb(26, 26, 26);
}

.img1{
  height: 55%;
}

.img2{
  height: 45%;
}

.img3{
  height: 40%;
}

.large-banner{
  position: relative;
  opacity: 100%;
  transition: 0.3s;
}

.text-overlay-banner{
  position: absolute;
  text-align: center;
  width: 70%;
  top:20%;
  margin-left: 15%;
  margin-right: 15%;
  font-family: arial;
  font-size: 30;
  user-select: none;
}

.btn-banner{
  transition: .3s;
}

.btn-banner:hover{
   transition: .3s;
   font-size: 20px;
   padding: 20;
}

.img-card{
  border-radius: 10%;
  width:100%;
  max-width:150px;
}

.align{
  text-align: center;
}

.grey-color{
  color:rgb(94, 94, 94) !important;
}

.card-align-title{
  margin-left:20px;
}

.card-small-text{
  font-size:12;
}